@import "./variables.scss";
.all-in-one-wrapper {
  height: calc(100vh - 100px);
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #111;

  .all-in-one-background-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .all-in-one-title {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    color: $primary_text_color;
    text-transform: capitalize;
    width: 95%;
  }

  .feature-container {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    transition: transform cubic-bezier(1, 0, 0.02, 0.98) 1s;

    .feature-container-border-container {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    .info-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      color: $primary_text_color;
      border-radius: inherit;
      width: 100%;
      height: 100%;
    }

    .title,
    .description {
      transition: all 1s ease-in-out;
    }

    .description {
      display: none;
      z-index: 3;
      a {
        color: inherit;
        text-decoration: none;
        display: inline-block;
        position: relative;
        margin-left: 0.05rem;
        font-weight: bold;
        &::before {
          position: absolute;
          content: "";
          bottom: 0;
          width: 0;
          border-bottom: 1px solid $primary_text_color;
        }
        &:hover::before {
          animation: temp 0.45s forwards cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
      }
    }

    &:hover {
      z-index: 2;
    }
  }

  .feature-container-1 {
    top: -200px;
    right: 150px;
    transition-delay: 0ms;
    background-color: $feature_color_1;
    border-color: $feature_color_1;

    .feature-container-border-container-1 {
      border: 1px solid $feature_color_1;
      animation-delay: 3100ms;
    }
  }

  .feature-container-2 {
    background-color: $feature_color_2;
    border-color: $feature_color_2;
    right: -200px;
    bottom: 80px;
    transition-delay: 100ms;

    .feature-container-border-container-2 {
      border: 1px solid $feature_color_2;
      animation-delay: 3800ms;
    }
  }

  .feature-container-3 {
    background-color: $feature_color_3;
    border-color: $feature_color_3;
    left: -200px;
    top: 40px;
    transition-delay: 200ms;

    .feature-container-border-container-3 {
      border: 1px solid $feature_color_3;
      animation-delay: 4480ms;
    }
  }

  .feature-container-4 {
    background-color: $feature_color_4;
    border-color: $feature_color_4;

    bottom: -200px;
    left: 150px;

    transition-delay: 160ms;

    .feature-container-border-container-4 {
      border: 1px solid $feature_color_4;
      animation-delay: 5400ms;
    }
  }
}

@keyframes slide-left {
  100% {
    transform: translate(-250px, 80px);
  }
}

@keyframes temp {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media only screen and (min-height: 900px) {
  .all-in-one-title {
    font-size: 4.5rem !important;
  }
}

@media only screen and (max-width: 400px) {
  .feature-container {
    width: 155px !important;
    height: 155px !important;
  }
}
