@use "./mixins.scss" as *;
@import "./variables.scss";

.experience-wrapper {
  min-height: calc(100vh - 100px);
  background: $primary_background_color;
  padding: 2rem;

  .exprerience-header {
    color: $primary_text_color;
    font-size: 4rem;
    text-transform: capitalize;
    margin: 3rem auto 1rem 1rem;
    letter-spacing: 0.2rem;
    position: relative;
    background: none;

    span {
      display: inline-block;
      position: inherit;
      z-index: 2;
    }

    .e {
      @include init_lamp_animation;
    }
  }

  .lamp-effect {
    .e-0,
    .e-6,
    .e-9 {
      @include trigger_lamp_animation;
    }

    .e-9 {
      animation-delay: 700ms, 2700ms;
    }

    .e-3 {
      @include trigger_lamp_animation_with_explosion;
      animation-delay: 200ms, 2200ms, 5500ms;
    }

    .e-0 {
      animation-delay: 1400ms, 3800ms;
    }
  }
  .experience-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 850px) {
  .experience-wrapper {
    flex-direction: column;
    .exprerience-header {
      font-size: 3.5rem;
    }
  }
}

@media only screen and (max-width: 700px) {
  .experience-wrapper {
    .exprerience-header {
      text-align: center;
      margin-left: 0;
    }
    .animated-before {
      letter-spacing: 0.4rem;
    }
  }
}

@media only screen and (max-width: 530px) {
  .experience-wrapper {
    .exprerience-header {
      font-size: 2.7rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  .experience-wrapper {
    padding: 0.5rem;
  }
}
