@import "./variables.scss";

* {
  box-sizing: border-box;
  &::selection {
    background-color: transparent;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.who-am-i-sliding-header {
  &::after {
    animation: who-am-i-slide-up 3s forwards cubic-bezier(1, 0, 0.02, 0.98);
  }
  &::before {
    animation: who-am-i-slide-down 3s forwards cubic-bezier(1, 0, 0.02, 0.98);
  }
}

.who-am-i-sliding-body {
  animation: who-am-i-slide-left 0.8s forwards ease-in-out;
}

.all-in-one-fade-in-background {
  animation: all-in-one-fade-in-background 3s forwards ease;
}
.all-in-one-sliding-title {
  animation: all-in-one-sliding-title 2s forwards ease-out;
}

.border-expansion {
  animation: temp 3s infinite ease;
  &:hover {
    animation: none;
  }
}

.all-in-one-sliding-feature-1 {
  transform: translate(-300px, 40px);
  &:hover {
    transform: translate(-300px, 40px) scale(4);

    .description {
      display: block !important;
      position: absolute;
      transform: translateY(1rem) !important;
      font-size: 0.2rem;
      padding: 0 3rem;
    }

    .title {
      position: absolute;
      transform: rotate(-90deg);
      left: 0;
      margin-top: 1.8rem;
      max-width: 200px;
      opacity: 0.5;
    }
  }
}

.all-in-one-sliding-feature-2 {
  transform: translate(-300px, 80px);
  &:hover {
    transform: translate(-300px, 80px) scale(4);

    .description {
      display: block !important;
      position: absolute;
      transform: translateY(1rem) !important;
      font-size: 0.2rem;
      padding: 0 3rem;
      top: 0;
    }

    .title {
      position: absolute;
      // transform: rotate(-90deg);
      top: 50%;
      left: 0;
      // margin-top: -1rem;
      max-width: 200px;
      opacity: 0.5;
    }
  }
}
.all-in-one-sliding-feature-3 {
  transform: translate(300px, 40px);
  &:hover {
    transform: translate(300px, 40px) scale(4);

    .description {
      display: block !important;
      position: absolute;
      transform: translateY(1rem) !important;
      font-size: 0.2rem;
      padding: 0 0 0 4rem;
    }

    .title {
      position: absolute;
      // transform: rotate(-90deg);
      // left: 0;
      top: 15%;
      right: 0;
      margin-top: 1.8rem;
      max-width: 200px;
      opacity: 0.5;
    }
  }
}
.all-in-one-sliding-feature-4 {
  transform: translate(300px, 80px);
  &:hover {
    transform: translate(300px, 80px) scale(4);

    .description {
      display: block !important;
      position: absolute;
      transform: translateY(1rem) !important;
      font-size: 0.2rem;
      padding: 0 3rem;
      top: 0;
    }

    .title {
      position: absolute;
      top: 50%;
      right: 0;
      max-width: 200px;
      opacity: 0.5;
    }
  }
}

@keyframes who-am-i-slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(80px);
  }
}

@keyframes who-am-i-slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80px);
  }
}

@keyframes who-am-i-slide-left {
  0% {
    transform: translateX(1rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes who-am-i-slide-right {
  0% {
    transform: translateX(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes all-in-one-sliding-title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes all-in-one-fade-in-background {
  from {
    filter: blur(700px);
    opacity: 0.1;
  }
  to {
    background: radial-gradient(
      circle at 50% 50%,
      #9f0d7f,
      $primary_background_color 30%
    );

    filter: blur(100px);
    opacity: 0.9;
  }
}

@keyframes temp {
  from {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  to {
    width: 230%;
    height: 230%;
    opacity: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .who-am-i-sliding-header {
    animation: who-am-i-slide-right 0.8s forwards ease-in-out;
  }
}
