@import "./variables.scss";

* {
  box-sizing: border-box;
  &::selection {
    background-color: transparent;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.sliding-header {
  &::after {
    animation: slide-up 3s forwards cubic-bezier(0, 1.15, 1, -0.11);
  }
  &::before {
    animation: slide-down 3s forwards cubic-bezier(0, 1.15, 1, -0.11);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(80px);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80px);
  }
}
