@import "./variables.scss";

.header-wrapper {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0.5rem;
  color: $secondary_text_color;
  font-weight: 200;
  background-color: $primary_background_color;
  z-index: 2;

  .logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;

    .logo-text {
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      line-height: 1.5rem;
      padding-top: 0.2rem;

      div {
        text-transform: uppercase;
        animation: logo-text-spacing 0.8s alternate forwards;
        &::first-letter {
          font-size: 1.7rem;
        }
      }
    }

    .logo-image {
      img {
        filter: invert(1);
      }
    }
  }
  .language-toggle-wrapper {
    font-size: 1.3 rem;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: $primary_text_color;
    }
  }
}

@keyframes logo-text-spacing {
  0% {
    letter-spacing: normal;
  }
  100% {
    letter-spacing: 0.2rem;
  }
}
