@import "./variables.scss";

.quote-background-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: $primary_background_color;
  .quote-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle at 70% 70%,
      $secondary_background_color,
      $primary_background_color 30%
    );

    filter: blur(100px);
    opacity: 0.9;
  }

  .quote-wrapper {
    position: relative;
    padding: 4rem;
    color: $primary_text_color;
    width: 100%;
    height: 100%;
    .quote {
      font-style: italic;
      font-weight: 200;
      font-size: 1.5rem;
      text-align: justify;
      letter-spacing: 0.05rem;
      line-height: 2.5rem;
      max-width: 1000px;
      position: relative;
      padding-left: 5rem;

      .qoutation-mark {
        font-size: 3rem;
        font-family: "Times New Roman";
      }
    }

    .author {
      position: relative;
      font-size: 1.1rem;
      font-weight: 400;
      text-transform: capitalize;
      margin-top: 1rem;
      margin-left: 2rem;
      color: $secondary_text_color;
      letter-spacing: 0.1rem;
      padding-left: 5rem;
    }
  }
}

@media only screen and (min-width: 3000px) {
  .quote-background-wrapper {
    .quote-wrapper {
      .quote {
        max-width: 1800px;
        font-size: 4rem;
        line-height: 6rem;
      }
      .author {
        font-size: 3rem;
      }
    }
  }
}

@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .quote-background-wrapper {
    .quote-wrapper {
      .quote {
        max-width: 1200px;
        font-size: 2.7rem;
        line-height: 3.7rem;
      }
      .author {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2000px) {
  .quote-background-wrapper {
    .quote-wrapper {
      .quote {
        max-width: 1200px;
        font-size: 2.5rem;
        line-height: 3.5rem;
      }
    }
  }
}

@media only screen and (min-width: 1700px) and (max-width: 1899px) {
  .quote-background-wrapper {
    .quote-wrapper {
      .quote {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .quote-background-wrapper {
    .quote-wrapper {
      padding: 4rem 1rem;
      .quote {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .author {
        padding-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .quote-background-wrapper {
    .quote-wrapper {
      .quote {
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .quote-background-wrapper {
    .quote-wrapper {
      padding: 1rem;
      .author {
        font-size: 0.9rem;
      }
    }
  }
}
