@use "./mixins.scss" as *;

@import "./variables.scss";

.skills-wrapper {
  min-height: calc(100vh - 100px);
  padding: 2rem;
  background-color: $primary_background_color;
  position: relative;

  .skills-background-wrapper {
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    background-image: radial-gradient(
      circle at 80% 100%,
      $secondary_background_color,
      $primary_background_color 40%
    );
    opacity: 0.9;
    filter: blur(100px);
  }

  .skills-header {
    text-align: right;
    position: relative;

    font-size: 4rem;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    color: $primary_text_color;

    .header-first,
    .header-second {
      display: inline-block;
    }
    .header-second {
      margin-left: 1.5rem;
    }

    span {
      display: inline-block;
      position: inherit;
    }
    .l-8,
    .l-3,
    .l-4 {
      @include init_lamp_animation;
    }
  }

  .lamp-effect {
    .l-8,
    .l-3,
    .l-4 {
      @include trigger_lamp_animation;
    }
    .l-8 {
      animation-delay: 300ms, 2300ms;
    }
    .l-3 {
      animation-delay: 600ms, 2600ms;
    }
    .l-4 {
      animation-delay: 200ms, 2200ms;
    }
  }
  .skills-content {
    width: 100%;
    position: relative;
  }
}

@media only screen and (max-width: 1000px) {
  .skills-wrapper {
    .skills-header {
      font-size: 3.5rem;
    }
  }
}

@media only screen and (max-width: 880px) {
  .skills-wrapper {
    .skills-header {
      text-align: left;
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: 710px) {
  .skills-wrapper {
    .skills-header {
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 625px) {
  .skills-wrapper {
    .skills-header {
      .header-second {
        margin-left: unset;
      }
      .header-second,
      .header-first {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .skills-wrapper {
    .skills-header {
      font-size: 2.7rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  .skills-wrapper {
    padding: 0.5rem;
  }
}
