@import "./variables.scss";
.skill-card-wrapper {
  color: white;
  border-left: 4px solid;
  padding-left: 1rem;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.8s;

  &:hover {
    transform: translateX(1rem);
  }

  .skill-card-topic {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
  }
  .skill-card-members-wrapper {
    height: 100%;
    margin-bottom: 1rem;
    position: relative;

    .skill-card-member {
      display: inline-block;
      border: 1px solid $secondary_border_color;
      padding: 0.3rem 0.7rem;
      border-radius: 2rem;
      margin-right: 0.3rem;
      height: 100%;
      font-size: 1.2rem;
      text-transform: capitalize;

      &:hover {
        border-color: $primary_border_color;
      }
    }
  }
}

.techstack-wrapper {
  border-color: $feature_color_3;
}

.fundamentals-wrapper {
  border-color: $feature_color_4;
}

.versioncontrol-wrapper {
  border-color: $feature_color_1;
}

.familiarwith-wrapper {
  border-color: $feature_color_2;
}

.others-wrapper {
  border-color: $feature_color_title;
}

@media only screen and (max-width: 1000px) {
  .skill-card-wrapper {
    .skill-card-members-wrapper {
      .skill-card-member {
        margin-top: 0.4rem;
      }
    }
  }
}

@media only screen and (max-width: 530px) {
  .skill-card-wrapper {
    &:hover {
      transform: unset;
    }
  }
}
