$primary_text_color: #fff;
$secondary_text_color: #aaa;
$primary_background_color: #040d12;
$secondary_background_color: #4477ce;
$feature_color_title: #2a394d;
$feature_color_1: #4682b4;
$feature_color_2: #6e7b8b;
$feature_color_3: #708090;
$feature_color_4: #2f4f4f;
$primary_border_color: #555;
$secondary_border_color: #444;
