@import "./variables.scss";
.who-am-i-wrapper {
  min-height: calc(100vh - 100px);
  position: relative;
  display: flex;
  flex-direction: row;
  // padding: 1rem;

  .who-am-i-background-wrapper {
    background-image: url("/who-am-i-background.png");
    background-color: $primary_background_color;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: move-background infinite 1000000s forwards;
    animation-play-state: paused;
    &:hover {
      animation-play-state: running;
    }
  }

  .body {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    width: 60%;
    height: 70vh;
    font-size: 1.35rem;
    line-height: 2rem;
    background-color: rgba($primary_background_color, 0.9);
    // border-radius: 2rem;
    color: white;
    text-align: justify;
    &::first-letter {
      font-size: 2.4rem;
    }
  }
}

@keyframes move-background {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -10000000% -10000000%;
  }
}
