@import "./variables.scss";
.who-am-i-wrapper {
  min-height: calc(100vh - 100px);
  position: relative;
  display: flex;
  flex-direction: row;
  // padding: 1rem;

  .who-am-i-background-wrapper {
    background-image: url("/who-am-i-background.png");
    background-color: $primary_background_color;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: move-background infinite 400s forwards;
    animation-play-state: paused;
    &:hover {
      animation-play-state: running;
    }
  }

  .body {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    width: 70%;
    // min-height: 70vh;
    // max-height: 90vh;
    // height: 80vh;
    // height: 100%;
    // border: 1px solid red;
    font-size: 1.45rem;
    line-height: 2rem;
    background-color: rgba($primary_background_color, 1);
    border-radius: 2rem 0 0 2rem;
    color: white;
    text-align: justify;

    &::first-letter {
      font-size: 2.4rem;
    }
  }
}

@keyframes move-background {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -1000% -1000%;
  }
}

@media only screen and (max-width: 1360px) {
  .who-am-i-wrapper {
    .body {
      font-size: 1.3rem;
    }
  }
}

@media only screen and (max-width: 1230px) {
  .who-am-i-wrapper {
    .body {
      font-size: 1.2rem;
      &::first-letter {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .who-am-i-wrapper {
    .body {
      font-size: 1.15rem;
      padding: 1rem;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .who-am-i-wrapper {
    justify-content: center;
    align-items: center;
    .who-am-i-background-wrapper {
      animation-play-state: running;
    }
    .body {
      position: relative;
      transform: none;
      border-radius: 2rem;
      width: 80%;
    }
  }
}

@media only screen and (max-width: 875px) {
  .who-am-i-wrapper {
    .body {
      font-size: 1.1rem;
      line-height: 1.75rem;
    }
  }
}

@media only screen and (max-width: 740px) {
  .who-am-i-wrapper {
    .body {
      font-size: 0.9rem;
      line-height: 1.6rem;
      &::first-letter {
        font-size: 1.6rem;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .who-am-i-wrapper {
    .who-am-i-background-wrapper {
      // background: radial-gradient(
      //   circle at 30% 20%,
      //   $secondary_background_color,
      //   $primary_background_color 30%
      // );
      background-size: 60% 10%;
    }
    .body {
      // background: none;
      width: 90%;
      border-radius: 0.5rem;
      // box-shadow: -1px -1px 2px #fff, 1px 1px 2px #fff;
      border: 1px solid #777;
    }
  }
}

@media only screen and (max-width: 460px) {
  .who-am-i-wrapper {
    .body {
      font-size: 0.85rem;
      line-height: 1.4rem;
      padding: 0.5rem;
    }
  }
}
