@import "./variables.scss";

@mixin blurry-background {
  background: rgba($primary_background_color, 0.7);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(11.5px);
}

.who-am-i-wrapper {
  min-height: calc(100vh - 100px);
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .who-am-i-background-wrapper {
    background-image: url("/who-am-i-background.png");
    background-color: $primary_background_color;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: move-background infinite 400s forwards;
    animation-play-state: paused;
    &:hover {
      animation-play-state: running;
    }
  }
  .who-am-i-background-I-wrapper {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    border-radius: 50%;
  }
  .who-am-i-background-I {
    background-image: url("/interstellar.jpg") !important;
    z-index: 2;
    animation: i-expansion 1s forwards linear,
      move-background infinite 400s forwards;
  }

  .body {
    z-index: 3;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    width: 70%;
    font-size: 1.45rem;
    line-height: 2rem;
    background-color: rgba($primary_background_color, 1);
    border-radius: 2rem 0 0 2rem;
    color: $primary_text_color;
    text-align: justify;
    transition: 2s background ease;

    span {
      position: relative;
      cursor: pointer;

      &:hover::before {
        position: absolute;
        content: "";
        width: 0%;
        bottom: -3px;
        border: 2px solid $primary_text_color;
        animation: extend-before 1s ease forwards;
      }
    }

    &::first-letter {
      font-size: 2.4rem;
    }
  }
}
@keyframes extend-before {
  to {
    width: 100%;
  }
}

@keyframes i-expansion {
  50% {
    width: min(100vh, 95vw);
    height: min(100vh, 95vw);
    border-radius: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes move-background {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: -1000% -1000%;
  }
}

@keyframes fade-in-background {
  to {
    background-size: 400% 400%;
  }
}

@media only screen and (min-width: 3000px) {
  .who-am-i-wrapper {
    .body {
      font-size: 3.4rem;
      line-height: 4.3rem;
      &::first-letter {
        font-size: 4.4rem;
      }
    }
  }
}

@media only screen and (min-width: 2000px) and (max-width: 3000px) {
  .who-am-i-wrapper {
    .body {
      font-size: 2.3rem;
      line-height: 3rem;
      &::first-letter {
        font-size: 3.3rem;
      }
    }
  }
}

@media only screen and (min-width: 1700px) and (max-width: 2000px) {
  .who-am-i-wrapper {
    .body {
      font-size: 1.8rem;
      line-height: 2.5rem;
      &::first-letter {
        font-size: 2.8rem;
      }
    }
  }
}

@media only screen and (max-width: 1360px) {
  .who-am-i-wrapper {
    .body {
      font-size: 1.3rem;
    }
  }
}

@media only screen and (max-width: 1230px) {
  .who-am-i-wrapper {
    .body {
      font-size: 1.2rem;
      &::first-letter {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .who-am-i-wrapper {
    .body {
      font-size: 1.15rem;
      padding: 1rem;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .who-am-i-wrapper {
    justify-content: center;
    align-items: center;
    .who-am-i-background-wrapper {
      animation-play-state: running;
    }
    .body {
      position: relative;
      transform: none;
      border-radius: 2rem;
      width: 80%;
    }
    .who-am-i-background-I + .body {
      @include blurry-background();
    }
  }
}

@media only screen and (max-width: 875px) {
  .who-am-i-wrapper {
    .body {
      font-size: 1.1rem;
      line-height: 1.75rem;
    }
  }
}

@media only screen and (max-width: 740px) {
  .who-am-i-wrapper {
    .body {
      font-size: 0.9rem;
      line-height: 1.6rem;
      &::first-letter {
        font-size: 1.6rem;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .who-am-i-wrapper {
    .who-am-i-background-wrapper {
      background-size: 50% 8%;
    }
    .body {
      width: 90%;
      border-radius: 0.5rem;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
  }
}

@media only screen and (max-width: 460px) {
  .who-am-i-wrapper {
    .body {
      font-size: 0.85rem;
      line-height: 1.4rem;
      padding: 0.5rem;
    }
  }
}
